@import "tailwindcss";

:root {
  --color-a: #ffffff; /* Bianco */
  --color-b: #d1e5ec; /* Azzurro molto chiaro (sfondo) */
  --color-c: #40d9ff; /* Azzurro brillante (colore principale del logo) */
  --color-d: #7be5ff; /* Azzurro chiaro (hover, dettagli) */
  --color-e: #ff8c40; /* Arancione acceso (colore secondario per contrasto) */
  --color-f: #1b4b5a; /* Blu petrolio scuro (sfondi scuri, contrasto con testo bianco) */
}

*:not([class]) {
  color: #4c4c4c;
}

.text-a {
  color: var(--color-a) !important;
}

.text-b {
  color: var(--color-b) !important;
}

.text-c {
  color: var(--color-c) !important;
}

.text-d {
  color: var(--color-d) !important;
}

.text-e {
  color: var(--color-e) !important;
}

.text-f {
  color: var(--color-f) !important;
}

.bg-a {
  background-color: var(--color-a) !important;
}

.bg-b {
  background-color: var(--color-b) !important;
}

.bg-c {
  background-color: var(--color-c) !important;
}

.bg-d {
  background-color: var(--color-d) !important;
}

.bg-e {
  background-color: var(--color-e) !important;
}

.bg-f {
  background-color: var(--color-f) !important;
}


p,
span {
  white-space: pre-line;
}

button {
  touch-action: manipulation;
}

button:hover {
  transform: scale(0.99);
  transition: 0.3s;
}

button:active {
  transform: scale(0.95);
  transition: 0.3s;
}

a:hover {
  filter: brightness(1.1);
  transition: 0.3s;
}

input,
select:focus {
  outline: none;
}