.navbar {
  height: 100px;
}

#masthead {
  background-image: url("../../public/image.png");
  background-size: cover; /* Copre l'intera area */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione */
}

#info {
  top: 60%;
}

#space {
  height: 15vh;
}

#icon {
  width: 3rem;
}

#callToAction {
  background-image: url("../../public/image2.png");
  background-size: cover; /* Copre l'intera area */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione */
}

#floater {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw; /* Maggiore larghezza su schermi piccoli */
}

#floater2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw; /* Maggiore larghezza su schermi piccoli */
}

#descImg {
  background-image: url("../../public/image3.png");
  background-size: cover; /* Copre l'intera area */
  background-position: right; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione */
}

#transferForm {
  background-image: url("../../public/image4.png");
  background-size: cover; /* Copre l'intera area */
  background-position: bottom; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita la ripetizione */
}

#contactImage {
  background-image: url("../../public/contacts.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#excursionForm {
  background-image: url("../../public/museo-del-sale.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#formTop {
  max-width: 750px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  #floater {
    left: 3%;
    transform: none; 
    width: 45vw;
  }

  #floater2 {
    right: 3%;
    transform: none; 
    width: 45vw;   
  }
}

@media screen and (min-width: 476px) {
  #floater {
    left: 3%;
    top: 1.5%;
    transform: none; 
    width: 46vw;
  }

  #floater2 {
    right: 2%;
    top: 50%;
    transform: none; 
    width: 46vw;   
  }
}

@media screen and (max-width: 1092px) {
  #transferForm,
  #excursionForm {
    background-size: cover; /* Copre l'intera area */
    background-position: center;
  }
}
